
.noti-card{
	display: flex;
	padding: 20px;
	background-color: gray;
	border-radius: 8px;
	border-top-right-radius: 40px;
	position: relative;
}

.noti-dott{
	position: absolute;
	top: 4px;
	right: 4px
}

.noti-img{
	border-radius: 8px;
}


