.bg-custom-light { /* 알림 카드 배경색 설정 */
  background-color: rgb(192, 192, 192);
}

.custom-top-right-round { /* 알림 카드 배경색 설정 */
  border-top-right-radius: 60px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

